In [1]:
import json
import pandas as pd
import pickle

In [3]:
f = open('../data/tempdata/articles/guardian_articles.json')
guardian_articles = json.load(f)

In [4]:
guardian_articles_df = pd.DataFrame(guardian_articles)

In [5]:
guardian_articles_df = guardian_articles_df[['headline', 'bodyText', 'sectionId', 'webPublicationDate']]

In [6]:
guardian_articles_df.rename(columns = {'bodyText':'text', 'sectionId':'category', 'webPublicationDate':'date'}, inplace = True)

In [21]:
with open('articles/guardian_articles_df', 'wb') as f:
    pickle.dump(guardian_articles_df, f)

In [7]:
guardian_articles_df.category.value_counts()

world                                   69829
commentisfree                           58200
football                                53082
sport                                   50381
music                                   33407
                                        ...
bunya-productions-the-leadership            1
wa-museum-discovering-ancient-greece        1
hugo-boss-man-of-today                      1
hbf-healthy-choices                         1
social-enterprise-network                   1
Name: category, Length: 274, dtype: int64

In [8]:
guardian_articles_df

,headline,text,category,date
0,David Moyes tries to make his mark while spect...,"In the worst moments, a press release dropped ...",football,2013-11-09T23:49:00Z
1,Lee Dickson was the sharp maestro but the audi...,"On the face of it, two perfectly respectable h...",sport,2013-11-09T23:35:38Z
2,Miami Herald journalist Jim Wyss released by V...,An American reporter who had been held by Vene...,world,2013-11-09T23:28:00Z
3,Allan McNish and Audi claim World Endurance Ch...,After a storming season in the World Endurance...,sport,2013-11-09T23:17:56Z
4,England 31-12 Argentina: how the players rated...,15 Mike Brown 7/10 Solid stuff after last week...,sport,2013-11-09T23:12:16Z
...,...,...,...,...
735915,Russian oligarchs in UK face new laws tackling...,Boris Johnson has said that Russian oligarchs ...,politics,2022-02-28T00:01:27Z
735916,UK faith leaders call on Boris Johnson to not ...,Representatives from the six major religions a...,uk-news,2022-02-28T00:01:27Z
735917,Birmingham to host six-month arts festival for...,Birmingham will benefit from “the great gift o...,uk-news,2022-02-28T00:01:27Z
735918,The Strange Case of Dr Jekyll and Mr Hyde revi...,Two years ago the idea would have been prepost...,stage,2022-02-28T00:01:26Z
735919,Thousands of girls as young as 11 in England h...,Thousands of girls as young as 11 are hiding s...,society,2022-02-28T00:01:26Z